<div
  role="status"
  class="transition-opacity z-[1001020012] items-center justify-center loader fixed top-0 bottom-0 left-0 right-0 w-screen h-screen flex flex-col dark:bg-gray-900 bg-gray-50 overflow-hidden"
  [class]="
    isLoaded
      ? 'opacity-0 pointer-events-none'
      : 'opacity-100 pointer-events-all'
  "
>
  <svg
    class="inline mr-2 vsm:w-32 vsm:h-32 w-40 h-40 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
    viewBox="0 0 100 101"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
      fill="currentColor"
    />
    <path
      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
      fill="currentFill"
    />
  </svg>
  <span class="vsm:text-xl text-3xl dark:text-gray-100 text-gray-800 mt-5">{{
    "stage_loading" | translate
  }}</span>
</div>

<div
  class="w-screen h-screen bg-gray-800 bg-opacity-80 z-[29999999] fixed transition-all"
  [class]="
    contactFormOpened
      ? 'opacity-100 ml-auto pointer-events-all'
      : 'opacity-0 ml-[-300px] pointer-events-none'
  "
>
  <div
    id="drawer-contact"
    class="fixed z-[3000000] h-screen p-4 overflow-y-auto bg-white border-r border-gray-200 dark:border-gray-700 w-80 dark:bg-gray-800 transition-transform left-0 top-0 transform-none"
    tabindex="-1"
    aria-labelledby="drawer-contact-label"
    aria-modal="true"
    role="dialog"
  >
    <h5
      id="drawer-label"
      class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase dark:text-gray-400"
    >
      <svg
        class="w-5 h-5 mr-2"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path></svg
      >{{ "contact.title" | translate }}
    </h5>
    <button
      (click)="contactFormOpened = false"
      type="button"
      data-drawer-dismiss="drawer-contact"
      aria-controls="drawer-contact"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <form class="mb-6" novalidate id="contact">
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >{{ "contact.email" | translate }}</label
        >
        <input
          type="email"
          id="email"
          name="mail"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@test.com"
          required=""
        />
      </div>
      <div class="mb-6">
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >{{ "contact.subject" | translate }}</label
        >
        <input
          type="text"
          id="subject"
          name="subject"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="{{ 'contact.subject-placeholder' | translate }}"
          required=""
        />
      </div>
      <div class="mb-6">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >{{ "contact.message" | translate }}</label
        >
        <textarea
          id="message"
          name="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="{{ 'contact.message-placeholder' | translate }}"
        ></textarea>
      </div>
      <button
        type="submit"
        (click)="contactFormOpened = false"
        class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block"
      >
        {{ "contact.send" | translate }}
      </button>
    </form>
    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
      <a href="mailto:contact@nylestroke.me" class="hover:underline"
        >contact@nylestroke.me</a
      >
    </p>
  </div>
</div>

<header class="z-[99999] fixed w-full top-0">
  <div
    class="text-gray-200 dark:bg-gray-800 bg-gray-100 flex justify-center items-center p-4 gap-3"
  >
    <span class="bg-blue-200 text-gray-900 px-3 py-0 rounded text-[14px]"
      >Beta</span
    >
    <span class="dark:text-gray-100 text-gray-900 sm:hidden block">{{
      "beta.popup-small-title" | translate
    }}</span>
    <span class="dark:text-gray-100 text-gray-900 sm:block hidden"
      >{{ "beta.popup-title" | translate }}!</span
    >
    <a
      (click)="contactFormOpened = !contactFormOpened"
      class="cursor-pointer gap-2 text-blue-500 font-medium items-center hover:underline sm:flex hidden"
      >{{ "beta.popup-contact" | translate }}
      <svg
        class="ml-1 w-4 h-4 text-blue-600 dark:text-blue-500"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fillrule="evenodd"
          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
          cliprule="evenodd"
        ></path></svg
    ></a>
  </div>
  <nav
    class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900 border-b-[1px] border-gray-300 dark:border-gray-700"
  >
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a routerLink="/" class="flex items-center cursor-pointer">
        <img src="https://i.ibb.co/QN6fQnz/logo.png" class="mr-3 h-6 sm:h-9" />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white vsm:hidden"
          >Sontac Movies</span
        >
      </a>
      <div class="flex items-center md:order-2">
        <button
          (click)="
            searchOpened = !searchOpened;
            discoverOpened = false;
            query = '';
            searchOpened
              ? (responsiveOpened = true)
              : (responsiveOpened = false)
          "
          class="ml-4 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        >
          <svg
            class="w-5 h-5 text-gray-500"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <button
          (click)="contactFormOpened = !contactFormOpened"
          type="button"
          class="ml-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          {{ "nav.contact" | translate }}
        </button>
        <button
          (click)="refresh()"
          id="theme-toggle"
          type="button"
          class="sm:ml-4 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        >
          <svg
            id="theme-toggle-dark-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
            ></path>
          </svg>
          <svg
            id="theme-toggle-light-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <button
          (click)="responsiveOpened = !responsiveOpened"
          data-collapse-toggle="mobile-menu-2"
          type="button"
          class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="mobile-menu-2"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <div
        class="justify-between items-center w-full md:flex md:w-auto md:order-1 transition-all md:opacity-100 md:pointer-events-auto"
        [class]="
          responsiveOpened
            ? 'max-h-[auto] opacity-100 pointer-events-all'
            : 'max-h-[0px] opacity-0 pointer-events-none'
        "
      >
        <ul
          class="md:items-center md:ml-[50px] flex-col p-4 mt-4 bg-gray -50 transition-all rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          [class]="searchOpened ? 'hidden opacity-0' : 'flex opacity-100'"
        >
          <li>
            <a
              href="/discover/movie"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >{{ "nav.movies" | translate }}</a
            >
          </li>
          <li>
            <a
              href="/discover/tv"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >{{ "nav.tv" | translate }}</a
            >
          </li>
          <li>
            <button
              (click)="discoverOpened = !discoverOpened"
              class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
            >
              {{ "nav.discover.title" | translate }}
              <svg
                class="ml-1 w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
        </ul>

        <div
          class="fixed md:top-[7.2rem] top-[17.4rem] md:right-[25%] md:left-[25%] left-3 right-3 mt-1 bg-gray-50 rounded transition-opacity border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600"
          [class]="
            discoverOpened
              ? 'opacity-100 pointer-events-all'
              : 'opacity-0 pointer-events-none'
          "
        >
          <div
            class="grid py-5 px-4 mx-auto max-w-screen-xl text-gray-900 dark:text-white sm:grid-cols-2 md:px-6"
          >
            <ul>
              <li>
                <a
                  href="/discover/movie"
                  class="cursor-pointer block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <div class="font-semibold">
                    {{ "nav.discover.movie.title" | translate }}
                  </div>
                  <span
                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                    >{{ "nav.discover.movie.desc" | translate }}</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="/discover/tv"
                  class="cursor-pointer block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <div class="font-semibold">
                    {{ "nav.discover.tv.title" | translate }}
                  </div>
                  <span
                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                    >{{ "nav.discover.tv.desc" | translate }}</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="/popular"
                  class="cursor-pointer block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <div class="font-semibold">
                    {{ "nav.discover.popular.title" | translate }}
                  </div>
                  <span
                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                    >{{ "nav.discover.popular.desc" | translate }}</span
                  >
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <a
                  href="/trending"
                  class="cursor-pointer block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <div class="font-semibold">
                    {{ "nav.discover.trending.title" | translate }}
                  </div>
                  <span
                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                    >{{ "nav.discover.trending.desc" | translate }}</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="/favorite"
                  class="cursor-pointer block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <div class="font-semibold">
                    {{ "nav.discover.favorite.title" | translate }}
                  </div>
                  <span
                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                    >{{ "nav.discover.favorite.desc" | translate }}.</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="#language"
                  (click)="onClickTimeout((discoverOpened = false))"
                  class="cursor-pointer block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <div class="font-semibold">
                    {{ "nav.discover.language.title" | translate }}
                  </div>
                  <span
                    class="text-sm font-light text-gray-500 dark:text-gray-400"
                    >{{ "nav.discover.language.desc" | translate }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="flex flex-col transition-opacity bg-gray-50 rounded-lg mt-3 border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          [class]="searchOpened ? 'w-auto opacity-100' : 'w-0 opacity-0'"
        >
          <div
            class="relative transition-all"
            [class]="
              searchOpened
                ? 'xl:w-[820px] opacity-100 pointer-events-all'
                : 'w-[0px] opacity-0 pointer-events-none'
            "
          >
            <div
              class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
            >
              <svg
                class="w-5 h-5 text-gray-500"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="sr-only">Search icon</span>
            </div>
            <input
              [(ngModel)]="query"
              (input)="onTyping()"
              type="text"
              id="search-navbar"
              class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search..."
            />
            <div
              *ngIf="searchContainer != null && query != ''"
              class="fixed md:left-[20%] md:right-[20%] xl:left-auto sm:left-3 sm:right-3 xl:right-auto xl:w-[820px] w-auto text-gray-200 mt-2 overflow-auto max-h-[400px] h-auto text-justify dark:bg-gray-900 bg-gray-200 p-3 z-0"
            >
              <div
                *ngFor="let item of searchContainer.results"
                class="z-50 mb-1 p-3 rounded"
                [class]="
                  item.title != null ? 'dark:bg-gray-800 bg-gray-100' : 'hidden'
                "
              >
                <a
                  *ngIf="item.title != null"
                  [href]="'/details/' + item.id"
                  class="dark:text-gray-200 text-gray-800 text-[16px]"
                  >{{ item.title }}
                  <span class="text-gray-500 font-normal mr-3"
                    >({{ item.original_title }}:
                    {{ item.release_date | date: "y" }})</span
                  >
                  <span
                    class="text-gray-900 font-medium rounded pl-1 pr-1"
                    [class]="
                      item.vote_average <= 5
                        ? 'bg-red-500'
                        : item.vote_average > 7
                        ? 'bg-green-500'
                        : 'bg-yellow-500'
                    "
                    >{{ item.vote_average.toFixed(1) }}</span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
