<div class="flex flex-wrap relative" *ngIf="item != null">

    <div class="absolute top-6 left-6 z-50 flex justify-center transition-opacity items-center p-3 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert"
         [class]="successAlert ? 'opacity-100 pointer-events-all' : 'opacity-0 pointer-events-none'"
    >
      <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">{{'second-card.success' | translate}}</span>
      </div>
    </div>

  <div class="absolute top-6 left-6 z-50 flex justify-center transition-opacity items-center p-3 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert"
       [class]="errorAlert ? 'opacity-100 pointer-events-all' : 'opacity-0 pointer-events-none'"
  >
    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">{{'second-card.error' | translate}}</span>
    </div>
  </div>

  <div
    class="w-full sm:w-[540px] w-[310px] max-w-4xl rounded-3xl overflow-hidden shadow-lg m-4 flex justify-between sm:flex-row flex-col">
    <a href="/details/{{item.id}}" class="md:flex-shrink-0">
      <img *ngIf="item.poster_path != null"
        class="md:w-56 sm:max-w-[220%] hover:scale-95 hover:transform transition-transform sm:rounded-l-2xl sm:rounded-t-none rounded-t-2xl w-full sm:w-auto"
        [src]="'https://image.tmdb.org/3/t/p/w500/' + item.poster_path">
    </a>
    <div class="flex flex-col flex-grow px-8 py-4 dark:bg-gray-800 bg-gray-100 sm:ml-[4.6rem] md:ml-0 dark:border-gray-700 border-gray-300 border">
      <a href="/details/{{item.id}}"
         class="font-bold text-4xl md:text-2xl lg:text-2xl dark:text-gray-300 text-gray-800 hover:text-blue-500">{{item.title}}</a>
      <span class="text-xl lg:text-sm lg:mb-4 text-gray-300 font-medium">{{item.release_date | date : 'y'}}</span>
      <div class="flex-grow">
        <p
          class="text-xl md:text-base lg:text-base dark:text-gray-400 text-gray-600 leading-snug truncate-overflow mb-5 md:mb-0">{{item.overview.slice(0, 120) + '...'}}</p>
      </div>
      <div class="button-container flex justify-between mb-2">
        <button routerLink="/details/{{item.id}}" class="text-lg mr-4 lg:text-sm dark:text-gray-200 text-gray-900 dark:font-normal font-medium hover:text-blue-400">{{'second-card.details' | translate}}
        </button>
        <button (click)="addToFavorite()"
          class="text-lg lg:text-sm font-medium py-2 px-4 rounded bg-blue-600 text-gray-100 hover:transform hover:scale-110 transition-transform">
          {{'second-card.add' | translate}}
        </button>
      </div>
      <div class="absolute top-8 right-8 text-gray-900 font-medium p-1.5 rounded-xl"
           [class]="item.vote_average <= 5 ? 'bg-red-500' : item.vote_average > 7 ? 'bg-green-500' : 'bg-yellow-500'"
      >
        <span >{{item.vote_average.toFixed(1)}}</span>
      </div>
    </div>
  </div>
</div>
