<section class="flex flex-col mt-[7rem] overflow-hidden">
  <h2 class="text-3xl dark:text-gray-200 text-gray-800 ml-3 mt-5 mb-3">
    {{ "popular-title" | translate }}
  </h2>
  <div class="grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 gap-4">
    <div *ngFor="let movieEl of container">
      <app-card [item]="movieEl" [container]="container"></app-card>
    </div>
  </div>
  <div
    class="flex dark:text-gray-300 text-gray-700 gap-2 flex-col items-end w-full mb-4 mt-2 text-2xl px-5"
  >
    <span class="font-medium">{{ "page" | translate }}:</span>
    <div class="flex flex-row gap-2 items-center pl-8 pr-8 pt-2 pb-2 rounded">
      <button (click)="page = page - 1; onEdit()" [disabled]="page === 1">
        <img
          src="https://i.ibb.co/NFhKs4Z/3899497.png"
          class="w-[30px]"
          style="transform: rotate(180deg)"
          alt=""
        />
      </button>
      <span class="text-2xl font-medium">{{ page }}</span>
      <button (click)="page = page + 1; onEdit()">
        <img
          src="https://i.ibb.co/NFhKs4Z/3899497.png"
          class="w-[30px]"
          alt=""
        />
      </button>
    </div>
  </div>
</section>
